img{
    max-width: 100%;
    display: block;
    margin: auto;
}

body{
    margin: 30px 8px;
    padding: 15px;
    text-align: center;
    background: #eee;
    border-radius: 10px;
}

#img-div{
    background-color: azure;
    border-radius: 10px;
    padding: 15px;
}